html {
    height: 100%;
    font-family: "Helventiva Neue", Arial;
}

body {
    text-align: center;
}

/* Opaque background image hack*/
body::after {
    content: "";
    background-image: url(jim.jpg);
    background-size: cover;
    opacity: 0.35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.title {
    font-size: 6em;
    margin: 1%;
}

.category {
    margin: 2.5%;
    font-size: 4em;
}

.answer {
    font-weight: bold;
}

.no {
    color: red;
}

.yes {
    color: green;
}